
@{
    ViewData["Title"] = "View Cart";
    ViewData["Class"] = "fastfood_1";
}

<section class="heading-content">
    <div class="heading-wrapper">
        <div class="container">
            <div class="row">
                <div class="page-heading-inner heading-group">
                    <div class="breadcrumb-group">
                        <h1 class="hidden">Your Cart</h1>
                        <div class="breadcrumb clearfix">
                            <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                <a href="./index.html" title="Fast Food" itemprop="url"><span itemprop="title"><i class="fa fa-home"></i></span></a>
                            </span>
                            <span class="arrow-space"></span>
                            <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                <a href="./cart.html" title="Your Cart" itemprop="url"><span itemprop="title">Your Cart</span></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cart-content">
    <div class="cart-wrapper">
        <div class="container">
            <div class="row">
                <div id="shopify-section-cart-template" class="shopify-section">
                    <div class="cart-inner">
                        <div id="cart">
                            <div class="cart-form">
                                <form action="./cart.html" method="post" id="cartform">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="image" colspan="2">Product</th>
                                                <th class="price">Price</th>
                                                <th class="qty">Quantity</th>
                                                <th class="total">Total</th>
                                                <th class="remove">Remove</th>
                                            </tr>
                                        </thead>
                                        <tbody id="orderContent">
                                            
                                        </tbody>
                                    </table>
                                    <div class="group-button">
                                        <a href="./collections.html" class="_btn">Continue Shopping</a>
                                        <div class="group_btn_right">
                                            <input type="button" class="_btn clearAllCart" value="Clear all">
                                        </div>
                                    </div>
                                    <div class="group-checkout-input">
                                        <div class="shipping-calculator col-sm-6 col-xs-12 ">
                                            <div id="shipping-calculator">
                                                <h3>Get shipping estimates</h3>
                                                <div class="group_form">
                                                    <div class="form-item">
                                                        <label for="address_country">City</label>
                                                        <input type ="text" value="@TempData["customerCity"]" readonly>
                                                    </div>
                                                    <div class="form-item" id="address_province_container" style="">
                                                        <label for="address_province" id="address_province_label">Zip Code</label>
                                                        <input type="text" value="@TempData["customerZip"]" readonly>    
                                                    </div>
                                                    <div class="form-item">
                                                        <label for="address_zip">Area</label>
                                                        <textarea id="note" name="note" placeholder="Enter text here..." readonly> @TempData["customerArea"] </textarea>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="checkout-buttons col-sm-6 col-xs-12">
                                            <div class="note-content group_form">
                                                <div class="form-item">
                                                    <label for="note">Add special instructions for your order</label>
                                                    <textarea id="note" name="note" placeholder="Enter text here..."></textarea>
                                                </div>
                                            </div>
                                            <div class="checkout-content">
                                                <div class="buttons clearfix">
                                                    <input type="button" id="checkout-btn" class="_btn" name="checkout" value="Check Out">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <script>
                        $(window).ready(function ($) {
                            $(".quantity-mobile input").change(function () {
                                var qty = $(this).val();
                                $(this).parents('tr').find('.item-quantity').val(qty);
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>

    <script>

        $(document).ready(function () {

            loadCart();

            function deleteFromCart(id) {
                let products = JSON.parse(localStorage.getItem("products"));
                let currentProds = products.filter(item => {
                    if (id != item.id) return true;
                    else {
                        setCount(-item.quantity)
                        return false;
                    }
                });
                //console.log(currentProds)
                localStorage.setItem("products", JSON.stringify(currentProds));
                loadCart();
            }

                       

            function setCount(value) {
                let count = localStorage.getItem("count");
                if (value == 0) count = 0;
                else if (!value) count = localStorage.getItem("count") ? localStorage.getItem("count") : 0
                else {
                    if (count) {
                        count = parseInt(count);
                        count += value;
                    }
                    else count = 0;
                }
                localStorage.setItem("count", count)
                $('.cart-count').html(count);
            }


            $("#checkout-btn").click(() => {
                let products = localStorage.getItem("products");

                if (products) {
                    $.ajax({
                        url: `/Customer/Order/PlaceOrder/${products}`,
                        type: 'get',
                        success: function (result) {
                            console.log(result);
                            if (result == "200") {
                                localStorage.removeItem("products");
                                setCount(0);
                                alert("Order Placed Successfully");
                            }
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                }
            }) 


            $(document).on("click", ".cart-item-remove", (e) => {
                deleteFromCart(e.currentTarget.id);
            })

            function loadCart() {

                let products = localStorage.getItem("products");

                if (products) {
                    //products = JSON.parse(products);

                    $.ajax({
                        url: `/visitor/cart/getproductdetails/${products}`,
                        type: 'get',
                        success: function (result) {

                            console.log(result);

                            let html = ``;

                            result.products.forEach(prod => {
                                html += `
                                        <tr>
                                                <td class="image">
                                                    <div class="product_image">
                                                        <a href="./product.html">
                                                            <img src="/assets/prod/${prod.product_img}" alt="${prod.product_name}">
                                                        </a>
                                                    </div>
                                                </td>
                                                <td class="image-info">
                                                    <div class="product_name">
                                                        <a asp-area="Visitor" asp-controller="Home" asp-action="Details" asp-route-id="${prod.id}">
                                                            ${prod.product_name}
                                                        </a>
                                                        <div class="group_mobile">
                                                            <span class="price-mobile"><span class="money" data-currency-usd="৳ ${prod.product_price}">৳ ${prod.product_price}</span></span>
                                                            <div class="quantity-mobile">
                                                                <div class="quantity-wrapper">
                                                                    <div class="wrapper">
                                                                        <span class="quantity-title">Quantity</span>
                                                                        <input type="text" size="4" value="${prod.quantity}" class="tc item-quantity-mobile">
                                                                    </div>
                                                                    <!--End wrapper-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="group_mobile">
                                                            <div class="remove-mobile">
                                                                <a href="#" id="${prod.id}" class="cart cart-item-remove"><span class="lnr lnr-trash"></span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="price"><span class="money" data-currency-usd="৳ ${prod.product_price}">৳ ${prod.product_price}</span> </td>
                                                <td class="qty">
                                                    <div class="quantity-wrapper">
                                                        <div class="wrapper">
                                                            <input type="text" size="4" name="updates[]" value="${prod.quantity}" class="tc item-quantity">
                                                        </div>
                                                        <!--End wrapper-->
                                                    </div>
                                                    <!--End quantily wrapper-->
                                                </td>
                                                <td class="total title-1"><span class="money" data-currency-usd="৳ ${prod.product_price}">৳ ${prod.product_price * prod.quantity}</span></td>
                                                <td class="remove"><a href="#" id="${prod.id}" class="cart cart-item-remove"><span class="lnr lnr-trash"></span></a></td>
                                            </tr>
                                    `
                            })
                            
                            $('#orderContent').html(html);

                        }
                    });
                    
                } 

            }

        });

    </script>

