@using EcommerceDemo.Models;
@model IEnumerable<CreateFormViewModel>
@{
    ViewData["Title"] = "Add Product";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#category').on('change', function () {
            //pickUnit
            //alert($(this).find('option:selected').attr('id'));
            let unit = $(this).find('option:selected').attr('id');
            $("#minOrderLebel").text("Minimum Order ("+unit+")");
        });
    });   
</script>
<div id="right-panel" class="right-panel">

    <div class="content mt-3">
        <div class="animated fadeIn">


            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header"><strong>Product</strong><small> Add Product</small></div>
                        <div class="card-body card-block">
                            <div class="card-body">
                                <label for="company" class=" form-control-label">Select Product Category</label>
                                <select id="category" data-placeholder="Choose a Category..." class="standardSelect" tabindex="1">
                                    <option class="pickUnit" id="0" value="0">None</option>
                                    @foreach (var item in Model)
                                    {
                                        <option class="pickUnit" id="@item.catUnit.unit" value="@item.catBody.id">@item.catBody.catagory_name</option>
                                    }
                                </select>
                            </div>
                            <!-- HERE WILL BE A DropDown List OF COMPANY ID-->

                            <div class="form-group"><label for="productName" class=" form-control-label">Product Name</label><input type="text" id="product" placeholder="Enter your product name" class="form-control"></div>
                            <div class="form-group"><label for="vat" class=" form-control-label">Video URL</label><input type="url" id="url" placeholder="DE1234567890" class="form-control"></div>
                            <div class="row form-group">
                                <div class="col col-md-12"><label for="description" class=" form-control-label">Product Description</label></div>
                                <div class="col-12 col-md-12"><textarea name="textarea-input" id="textarea-input" rows="4" placeholder="Content..." class="form-control"></textarea></div>
                            </div>
                            <div class="form-group">
                                <label for="packing" class=" form-control-label">Select Product Packing Type</label>
                                <select data-placeholder="Choose a packing type..." class="standardSelect" tabindex="1">
                                    <option value=""></option>
                                    <option value="Paper Box">Paper Box</option>
                                    <option value="Crock">Crock</option>
                                    <option value="Plastic Container">Plastic Container</option>
                                    <option value="Aluminium Foil Box">Aluminium Foil Box</option>
                                    <option value="Bottle">Bottle</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="company" class=" form-control-label">Select Company</label>
                                <select data-placeholder="Choose a company..." class="standardSelect" tabindex="1">
                                    <option value="1">None</option>
                                </select>
                            </div>
                            <div class="form-group"><label for="brand" class=" form-control-label">Product Brand</label><input type="text" id="brand" placeholder="Enter product's brand name" class="form-control"></div>
                            <div class="form-group"><label for="ingredients" class=" form-control-label">Product Ingredients</label><input type="text" id="ingredients" placeholder="Enter your product ingredients" class="form-control"></div>
                            <div class="form-group"><label for="color" class=" form-control-label">Product Color</label><input type="text" id="color" placeholder="Enter product's color" class="form-control"></div>
                            <div class="form-group"><label for="minimumOrder" id="minOrderLebel" class=" form-control-label">Minimum Order</label><input type="number" id="order" placeholder="Minimim order" class="form-control"></div>
                            <div class="form-group"><label for="priceOff" class=" form-control-label">Product Sale</label><input type="number" id="sale" placeholder="Sale %" class="form-control"></div>
                            <div class="form-group">
                                <label for="price" class=" form-control-label">Product Price</label>                                
                                <input type="number" id="input3-group1" name="input3-group1" placeholder="৳ 00.00" class="form-control">
                                <div class="input-group-addon">BDT (৳)</div>
                            </div>

                            <div class="form-group">
                                <label for="displayImage" class=" form-control-label">Display Image</label>
                                <input type="file" id="file-input" name="file-input" class="form-control-file">
                            </div>

                            <div class="form-group">
                                <label for="displayImage" class=" form-control-label">Product Image One</label>
                                <input type="file" id="file-input" name="file-input" class="form-control-file">

                                <label for="displayImage" class=" form-control-label">Product Image Two</label>
                                <input type="file" id="file-input" name="file-input" class="form-control-file">

                                <label for="displayImage" class=" form-control-label">Product Image Three</label>
                                <input type="file" id="file-input" name="file-input" class="form-control-file">

                                <label for="displayImage" class=" form-control-label">Product Image Four</label>
                                <input type="file" id="file-input" name="file-input" class="form-control-file">
                            </div>

                            <div class="form-group">
                                <button type="button" class="btn btn-success btn-lg btn-block">Submit</button>
                            </div>
                        </div>
                </div>
                <div class="col-lg-3"></div>

            </div><!-- .animated -->
        </div><!-- .content -->
    </div><!-- /#right-panel -->
    <!-- Right Panel -->
</div>

